<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment details</title>
</head>
<body>
    <h1>Appointment details</h1>
    <p>Pat. name: <%= foundAppointment.patientName %></p>
    <p>Date: <%= foundAppointment.date %></p>
    <p>Reason: <%= foundAppointment.reason %></p>
    <p>Booked Doctor's name: <%= foundAppointment.doctor.name %></p>

    <form action="/appointments/delete <%= foundAppointment._id %>">
        <button type="submit">Delete appointment</button>
    </form>
</body>
</html>