<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment details</title>
</head>
<body>
    <h1>Appointment details</h1>
    <p>Pat. name: <%= foundAppointment.patientName %></p>
    <p>Date: <%= foundAppointment.date %></p>
    <p>Reason: <%= foundAppointment.reason %></p>
    <p>Booked Doctor's name: <%= foundAppointment.doctor.name %></p>
    

    <h3>Notes: </h3>
    <form action="/appointments/<%= foundAppointment._id %>/notes" method="post">Doctor's notes:
    <input name="notes" id="docNotes" type="text" placeholder="notes">
    <button type="submit">submit note</button>
    </form>

    <% foundAppointment.notes.forEach((oneNote)=>{%>
        <p>Note: <%= oneNote.notes%></p>
    <%}) %>

    <form action="/appointments/delete/<%=foundAppointment._id %>?_method=DELETE" method="post">
        <br>
        <br>
        <button type="submit">Delete appointment</button>
    </form>
</body>
</html>